.DS_Store
.zcompdump*

# vim undo files
*.un~

# 1Password
1password

# atuin
atuin/.config/atuin/history.db*
atuin/.config/atuin/key

# aws
aws

# boto
.boto

# btop
btop/.config/btop/btop.log

# dash
dash

# gnupg
gnupg/.gnupg

# karibiner
karibiner/.config/karabiner/automatic_backups

# nushell
nushell/**/config/projects.nu
nushell/**/history.*
nushell/**/plugin.msgpackz
nushell/**/vendor

# raycast
raycast

# ssh
ssh

# tableplus
tableplus/Library

# tmux
tmux/.config/tmux/plugins
tmux/.config/tmux/sessions

# vnc
vnc/.vnc

# zed
zed/.config/zed/conversations
zed/.config/zed/prompts

# zsh
zsh/.zsh/projects.zsh
