# macOS
**/.DS_Store
**/.zcompdump*

# Python
**/__pycache__
**/*.pyc

# AI agents
PLAN.md
SESSION.md

# Projects
**/projects.nu
**/projects.zsh

# atuin
**/.config/atuin/**
!**/.config/atuin/config.toml
**/.local/share/atuin/**
!**/.local/share/atuin/init.nu

# 1password
1password

# aws
aws

# boto
boto

# btop
**/.config/btop/btop.log

# gnupg
gnupg/.gnupg

# karibiner
**/.config/karabiner/automatic_backups

# nushell
nushell/**/history.*
nushell/**/plugin.msgpackz
nushell/**/vendor

# raycast
raycast

# ssh
ssh

# tableplus
tableplus/Library

# tmux
**/.config/tmux/plugins
**/.config/tmux/sessions

# vim
**/*.un~

# vnc
**/.vnc

# zed
**/.config/zed/conversations
**/.config/zed/prompts
