[user]
	name = Ryan Bright
	email = ryan@moonrise.energy
	signingkey = C9A419F94D92080A10695284114B3A69F7FAD353
[alias]
	amend = commit --amend
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
[color]
	ui = auto
[commit]
	gpgSign = true
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[github]
	user = rbright
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = 
[init]
	defaultBranch = main
[merge]
	tool = code
[mergetool]
	keepBackup = false
	prompt = false
[oh-my-zsh]
	git-commit-alias = 69a6359f7cf8978d464573fb7b023ee3cd00181a
[push]
	default = current
[tag]
	forceSignAnnotated = false
