[alias]
  cl = clone
  st = status
  co = checkout
  cm = commit
  pom = push origin master
  pl = pull
  ft = fetch
  rb = rebase
  amend = commit --amend
  unstage = reset HEAD --
  last = log -1 HEAD
