# macOS
**/.DS_Store
**/.zcompdump*

# Python
**/__pycache__
**/*.pyc

# 1password
1password

# neovim
neovim/.config/go/

# ssh
ssh

# tableplus
tableplus/Library

# vim
**/*.un~

# vnc
**/.vnc

# zed
**/.config/zed/context-mode
**/.config/zed/conversations
**/.config/zed/prompts
