[user]
	name = Ryan Bright
	email = ryan@moonriseconsulting.io
[alias]
	amend = commit --amend
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[github]
	user = rbright
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
[merge]
	tool = code
[mergetool]
	keepBackup = false
	prompt = false
[push]
	default = current
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
