layout {
    tab name="~" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar" {
                hide_swap_layout_indication true
            }
        }
        pane focus=true
    }
}
